@import '@/index.scss';

.sliderButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;

  .button {
    background-color: transparent;

    padding: 21px;

    border: none;

    cursor: pointer;
  }
}

